<div class="window" 
        *ngIf="app.win_status.opened" 
        [ngClass]="{ 'maximized_w': app.win_status.maximized, 'minimized_w': !app.win_status.maximized, 'reduced_w': app.win_status.reduced, 'focused_w': app.win_status.focused, 'moving_w': moving }"
        (mousedown)="onFocus(app)" 
        [ngStyle]="{ 'transform': app.win_status.maximized ? 'translate3d(0px, 0px, 0px)' : app.win_status.position }"
        cdkDragBoundary="#background" 
        cdkDrag [cdkDragDisabled]="app.win_status.maximized" 
        (cdkDragStarted)="moving = true" 
        (cdkDragEnded)="moving = false">

    <div class="top_bar" cdkDragHandle>
        <!-- tools in top -->
        <app-explorer-tools *ngIf="app.type === 'explorer'" [app]="app"></app-explorer-tools>
        <app-terminal-tools *ngIf="app.title === 'terminal'"></app-terminal-tools>
    
        <!-- reduce, maximize & close buttons -->
        <app-window-buttons [app]="app"></app-window-buttons>
    </div>
    <div class="content_container">
        <app-explorer-content *ngIf="app.type === 'explorer'"></app-explorer-content>
        <app-terminal-content *ngIf="app.title === 'terminal'"></app-terminal-content>
        <app-identity-content *ngIf="app.title === 'identity'"></app-identity-content>
    </div>
</div>