<div class="window" 
        *ngIf="app.opened" 
        [ngClass]="{ 'maximized': app.maximized, 'minimized': !app.maximized, 'reduced': app.reduced, 'focused': app.focused, 'moving': moving }"
        (mousedown)="onFocus(app)" 
        [ngStyle]="{ 'transform' : app.maximized ? 'none' : app.position }" 
        cdkDragBoundary="#background" 
        cdkDrag [cdkDragDisabled]="app.maximized" 
        (cdkDragStarted)="moving = true" 
        (cdkDragEnded)="moving = false">

    <div class="top_bar" cdkDragHandle>
        <!-- tools in top -->
        <app-window-tools-bar [app]="app"></app-window-tools-bar>
    
        <!-- reduce, maximize & close buttons -->
        <app-window-buttons [app]="app"></app-window-buttons>
    </div>

    <app-window-content></app-window-content>
</div>