<div class="window" 
        [ngClass]="{ 'maximized_w': window.maximized, 'minimized_w': !window.maximized, 'reduced_w': window.reduced, 'focused_w': window.focused, 'moving_w': moving }"
        (mousedown)="clickWindow(window);"
        [ngStyle]="{ 'transform': window.maximized ? 'translate3d(0px, 0px, 0px)' : window.position }"
        cdkDragBoundary="#dragzone"
        cdkDrag [cdkDragDisabled]="window.maximized"
        (cdkDragStarted)="moving = true" 
        (cdkDragEnded)="moving = false"
        (click)="$event.stopPropagation();"
        (contextmenu)="$event.stopPropagation(); false;">

    <div class="top_bar" cdkDragHandle>
        <!-- tools in top -->
        <app-explorer-tools *ngIf="software.type === 'files'" [software]="software" [window]="window"></app-explorer-tools>
        <app-terminal-tools *ngIf="software.type === 'terminal'"></app-terminal-tools>
    
        <!-- reduce, maximize & close buttons -->
        <div class="buttons">
            <div class="button reduce" [ngClass]="{ 'inactive': !window.reducable }" (click)="reduce(window); $event.stopPropagation();">
                <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 10v1h8v-1z" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" color="#000" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
                </svg>
            </div>
            <div class="button maximize" [ngClass]="{ 'inactive': !window.resizable }" (click)="maximize(window); $event.stopPropagation();">
                <svg *ngIf="window.maximized === false" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4v8h8V4zm1 1h6v6H5z" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" color="#000" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
                </svg>
                <svg *ngIf="window.maximized === true" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <g color="#000" font-weight="400" font-family="sans-serif" white-space="normal">
                        <path d="M4 6v6h6V6zm1 1h4v4H5z" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" overflow="visible"/>
                        <path d="M6 4v1h5v5h1V4z" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" overflow="visible" opacity=".5"/>
                    </g>
                </svg>
            </div>
            <div class="button close" (click)="close(window); $event.stopPropagation();">
                <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.795 3.912l-.883.883.147.146L7.117 8 4.06 11.059l-.147.146.883.883.146-.147L8 8.883l3.059 3.058.146.147.883-.883-.147-.146L8.883 8l3.058-3.059.147-.146-.883-.883-.146.147L8 7.117 4.941 4.06z" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" color="#000" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible" fill-rule="evenodd"/>
                </svg>  
            </div>   
        </div>
    </div>
    <div class="content_container">
        <app-explorer-content *ngIf="software.type === 'files'" [file]="window.type"></app-explorer-content>
        <app-terminal-content *ngIf="software.type === 'terminal'"></app-terminal-content>
        <app-identity-content *ngIf="software.type === 'identity'"></app-identity-content>
        <app-firefox-content *ngIf="software.type === 'browser'"></app-firefox-content>
    </div>
</div>