<div id="taskbar">
    <div class="left">
        <div>Activities</div>
        <div *ngIf="false" class="active">
            <div>o</div>
            <div>current_directory</div>
            <div>v</div>
        </div>
    </div>
    <div class="time">{{ time | date : 'MMM. d h:mm a' | lowercase }}</div>
    <div class="settings">
        <div class="network">o</div>
        <div class="sound">o</div>
        <div class="shutdown">o</div>
        <div class="dropdown">v</div>
    </div>
</div>