@import '../../styles.scss';

#taskbar
{
  height: 27px;

  background-color: rgba(29,29,29,255);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 12px;
  padding-right: 12px;
  
  div:hover
  {
    color: white;
  }

  .settings
  {
    width: auto;
    display: flex;
    justify-content: space-around;
  }
}