<div class="tools">
    <div class="couple nav">
        <div class="single left inactive">
            <svg width="16" height="16">
                <path [attr.d]="icons[5].path" />
            </svg>            
        </div>
        <div class="single right inactive">
            <svg width="16" height="16">
                <path [attr.d]="icons[6].path" />
            </svg>            
        </div>
    </div>
    <div class="center">
        <div class="single current">
            <div class="explorer_icon">
                <svg width="16" height="16">
                    <path [attr.d]="icons[11].path" />
                </svg>                
            </div>
            <div class="current_title">{{ software.type | titlecase }}</div>
            <div class="dropdown">
                <svg width="16" height="16">
                    <path [attr.d]="icons[7].path" />
                </svg>
            </div>
        </div>
        <div class="search_box">
            <div class="input_field"></div>
            <div class="sort"></div>
        </div>
    </div>
    <div class="single search">
        <svg width="16" height="16">
            <path [attr.d]="icons[8].path" />
        </svg>        
    </div>
    <div class="couple view">
        <div class="single left">
            <svg width="16" height="16">
                <path [attr.d]="icons[9].path" />
            </svg>         
        </div>
        <div class="single right">
            <svg width="16" height="16">
                <path [attr.d]="icons[7].path" />
            </svg>
        </div>
    </div>
    <div class="single properties">
        <svg width="16" height="16">
            <path [attr.d]="icons[10].path" />
        </svg>     
    </div>
</div>
