:host
{
    flex-grow: 1;
}

.nav, .search, .properties
{
    margin: 6px;
}

.current
{
    width: fit-content !important;
    justify-content: space-evenly !important;
    line-height: 0 !important;

    div
    {
        padding: 0px 10px 0px 10px;
    }
}

.search_box
{
    flex-grow: 1;
    display: hidden;
}