:host
{
    flex-grow: 1;
}

.nav, .search, .properties
{
    margin: 6px;
}

.current
{
    width: fit-content !important;
    justify-content: space-evenly !important;
    line-height: 0 !important;

    .explorer_icon
    {
        padding: 0 6px 0 8px;
    }
    .current_title
    {
        padding: 0 6px 0 8px;
    }
    .dropdown
    {
        padding: 0 8px 0 8px;
    }
}

.search_box
{
    flex-grow: 1;
    display: hidden;
}