<div class="tools">
    <div class="couple nav">
        <div class="single left inactive">
            <svg [attr.height]="icons[0].previous.height" [attr.width]="icons[0].previous.width">
                <path [attr.d]="icons[0].previous.d" />
            </svg>            
        </div>
        <div class="single right inactive">
            <svg [attr.height]="icons[0].next.height" [attr.width]="icons[0].next.width">
                <path [attr.d]="icons[0].next.d" />
            </svg>            
        </div>
    </div>
    <div class="center">
        <div class="single current">
            <div class="explorer_icon">
                <svg [attr.height]="icons[0].house.height" [attr.width]="icons[0].house.width">
                    <path [attr.d]="icons[0].house.d" />
                </svg>                
            </div>
            <div class="current_title">{{ app.title | titlecase }}</div>
            <div>
                <svg [attr.height]="icons[0].dropdown.height" [attr.width]="icons[0].dropdown.width">
                    <path [attr.d]="icons[0].dropdown.d" />
                </svg>
            </div>
        </div>
        <div class="search_box">
            <div class="input_field"></div>
            <div class="sort"></div>
        </div>
    </div>
    <div class="single search">
        <svg [attr.height]="icons[0].search.height" [attr.width]="icons[0].search.width">
            <path [attr.d]="icons[0].search.d" />
        </svg>        
    </div>
    <div class="couple view">
        <div class="single left">
            <svg [attr.height]="icons[0].list.height" [attr.width]="icons[0].list.width">
                <path [attr.d]="icons[0].list.d" />
            </svg>         
        </div>
        <div class="single right">
            <svg [attr.height]="icons[0].dropdown.height" [attr.width]="icons[0].dropdown.width">
                <path [attr.d]="icons[0].dropdown.d" />
            </svg>
        </div>
    </div>
    <div class="single properties">
        <svg [attr.height]="icons[0].menu.height" [attr.width]="icons[0].menu.width">
            <path [attr.d]="icons[0].menu.d" />
        </svg>     
    </div>
</div>
