<div class="content">
    <div class="left_panel">
        <div class="categories">
            <div class="category active">
                <div class="icon">o</div>
                <div class="title">Recent</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Starred</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Home</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Desktop</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Documents</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Downloads</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Music</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Pictures</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Videos</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Recent</div>
            </div>
            <div class="category">
                <div class="icon">o</div>
                <div class="title">Trash</div>
            </div>
            <div class="category other_category">
                <div class="icon">+</div>
                <div class="title">Other Locations</div>
            </div>
        </div>
    </div>
    <div class="central_panel">

    </div>
</div>