<div class="launcher" cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let software of softwares">
        <div *ngIf="software.favorite"
            class="{{ software.type }} shortcut" 
            (click)="leftClickShortcut(software)"
            (contextmenu)="rightClickShortcut(software)"
            [ngClass]="{ 'focused_s': software.focused }"
            cdkDrag>

            <div *ngIf="software.windows" class="dots">
                <div *ngFor="let window of software.windows | slice:0:5" class="dot"></div>
            </div>

            <svg [attr.viewBox]="software.icon.viewbox">
                <path [attr.d]="software.icon.path" />
            </svg>

            <p class="title">{{ software.type | titlecase }}</p>
        </div>
    </div>

    <div class="all shortcut" (click)="openAllApps()">
        <svg [attr.viewBox]="icons[0].viewbox">
            <path [attr.d]="icons[0].path" />
        </svg>
        <p class="title">Show Applications</p>
    </div>
</div>