:host
{
    flex-grow: 1;
}

.content
{
    display: flex;

    height: 100%;

    color: white;

    .categories
    {
        width: fit-content;
        height: 100%;
        width: 161px;

        background-color: rgba(58,58,58,255);

        border-right: 1px solid rgba(40,40,40,255);

        display: flex;
        flex-direction: column;

        overflow-y: scroll;
        scrollbar-width: none;
        
        .category:first-child
        {
            margin-top: 4px;
        }

        .category:last-child
        {
            margin-top: 4px;
        }

        .category
        {
            display: flex;

            .icon
            {
                padding: 10px 8px 9px 14px;
                line-height: 1.1em;
            }

            .title
            {
                padding: 9px 0 0 0;
            }
        }

        .category:hover
        {
            background-color: rgba(71,71,71,255);
        }

        .active
        {
            background-color: rgba(223,74,22,255);
        }

        .active:hover
        {
            background-color: rgba(225,91,44,255);
        }
    }

    .categories:hover
    {
        scrollbar-width: thin;
        scrollbar-color: rgba(136,136,136,255);
    }
}

.central_panel
{
    flex-grow: 1;
    background-color: rgba(58,58,58,255);
}


svg
{
    fill: white;
}