<div id="root"(contextmenu)="false">
  <div class="ref"></div>
  <!-- revoir selected -->
  <app-panel [event]="onClick" [focusedSoftware]="focusedSoftware" [selected]="selectedTab"></app-panel>
  <div id="background">
    <app-launcher [softwares]="softwares" [icons]="icons" (focusChanged)="focusedSoftware = $event" (selectReset)="selectedTab = $event"></app-launcher>
    <div id="desktop" (click)="leftClick($event, false)" (contextmenu)="rightClick($event)">
      <div id="shortcuts" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let shortcut of shortcuts" class="desktop shortcut {{ shortcut[0] }}"
              [ngClass]="{ 'selected': shortcut[3] }"
              (click)="leftClick($event, false, shortcut)"
              (dblclick)="leftClick($event, true, shortcut)"
              (contextmenu)="rightClick($event, shortcut)"
              >

          <svg class="desktop" [attr.viewBox]="shortcut[2].viewbox">
            <path class="desktop" [attr.d]="shortcut[2].path" />
          </svg>
          
          <div class="desktop">{{ shortcut[0] | titlecase }}</div>

          <div class="context" *ngIf="context === shortcut[0]">
            CONTEXT
          </div>
        </div>
      </div>

      <div id="dragzone">
        <div *ngFor="let software of softwares">
          <app-window *ngFor="let window of software.windows" 
          [software]="software" 
          [window]="window" 
          [explorer]="shortcuts"
          (focusChanged)="focus($event)"
          (resetSelected)="resetSelected()"></app-window>
        </div>
      </div>
      
      <app-contextmenu *ngIf="contextmenu" [ngStyle]="{'transform': position}" [softwares]="softwares"></app-contextmenu>
      <div class="button" (click)="onFullscreen()" [ngClass]="{ 'active': isFullscreen }">Fullscreen</div>
    </div>
  </div>
</div>

<div class="mobile">
  <div>Sorry this website is not compatible yet with smartphone & tablet</div>
</div>