<div id="root" (contextmenu)="onRightClick($event)" (click)="onClick()" (dblclick)="onClick()" (mousedown)="onClick()">
  <app-panel [app]="focusedApp"></app-panel>
  <div id="background">
    <app-launcher [apps]="apps" [launcherApps]="launcherApps"></app-launcher>
    <div id="desktop" (click)="onClickDesktop($event)">
      <div *ngFor="let app of desktopApps" class="desktop shortcut {{ app.title }}"
      [ngClass]="{ 'selected': selected }"
      (click)="$event.stopPropagation(); onClickDesktop($event)"
      (dblclick)="onClickDesktopShortcut(app)">

        <svg class="desktop" [attr.viewBox]="app.icon.viewbox">
          <path class="desktop" [attr.d]="app.icon.d" />
        </svg>
        <div class="desktop">{{ app.title }}</div>
      </div>
      <app-window *ngFor="let app of apps" [app]="app"></app-window>
    </div>
  </div>
</div>