<div id="root"(contextmenu)="false">
  <app-panel></app-panel>
  <div id="background">
    <app-launcher [softwares]="softwares" [icons]="icons"></app-launcher>
    <div id="desktop" (click)="leftClick($event, false)" (contextmenu)="rightClick($event)">

      <div *ngFor="let shortcut of shortcuts" class="desktop shortcut {{ shortcut.type }}"
            [ngClass]="{ 'selected': selected }"
            (click)="leftClick($event, false)"
            (dblclick)="leftClick($event, true, shortcut)">

        <svg class="desktop" [attr.viewBox]="shortcut.icon.viewbox">
          <path class="desktop" [attr.d]="shortcut.icon.path" />
        </svg>
        
        <div class="desktop">{{ shortcut.type }}</div>
      </div>

      <div *ngFor="let software of softwares">
        <app-window *ngFor="let window of software.windows" [software]="software" [window]="window"></app-window>
      </div>
      
    </div>
  </div>
</div>