@import '../styles.scss';

#root
{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  -moz-user-select: none;
  
  #background
  {
    width: 100vw;
    flex-grow: 1;

    display: flex;

    #desktop
    {
      display: flex;
      flex-grow: 1;

      .shortcut
      {
        position: absolute;
        
        width: 120px;
        height: 97px;

        margin: 1px;
        padding-top: 5px;

        display: flex !important;
        flex-direction: column;
        align-items: center;
        
        svg
        {
          height: 44px;
          width: 44px;

          fill: white;
        }
      }

      .selected
      {
        border-radius: 5%;
        background-color: rgba(223,74,22,0.7) !important;
      }

      .shortcut:hover
      {
        border-radius: 5%;
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}