@import '../styles.scss';

#root
{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  
  #background
  {
    width: 100vw;
    flex-grow: 1;

    display: flex;

    a
    {
      color: $blue;
      text-decoration: none;
    }
    a:hover
    {
      color: $pink;
      cursor: pointer;
    }
    a div
    {
      padding-bottom: 5px;
    }

    #desktop
    {
      display: flex;
      flex-grow: 1;
    }
  }
}