<div class="tools">
    <div class="couple nav">
        <div class="single left inactive"><</div>
        <div class="single right inactive">></div>
    </div>
    <div class="center">
        <div class="single current">
            <div>x</div>
            <div class="current_title">{{ app.title | titlecase }}</div>
            <div>v</div>
        </div>
        <div class="search_box">
            <div class="input_field"></div>
            <div class="sort"></div>
        </div>
    </div>
    <div class="single search">O</div>
    <div class="couple view">
        <div class="single left">-</div>
        <div class="single right">v</div>
    </div>
    <div class="single properties">E</div>
</div>
