/* You can add global styles to this file, and also import other style files */

@font-face
{
    font-family: 'Ubuntu';
    src: url("/assets/fonts/ubuntu-font-family/Ubuntu-L.ttf");
}

$yellow : #f3e600;
$blue : #04daf6;
$pink : #ff003c;
$grey : #554b41;
$background : #01012b;

body
{
  margin: 0;

  color: whitesmoke;
  font-family: 'Ubuntu';

  background: linear-gradient(45deg, #DD4814, #77216F, #5E2750, #AEA79F, #333333);

  overflow: hidden;

  cursor: default;
}