/* You can add global styles to this file, and also import other style files */

@font-face
{
  font-family: 'Ubuntu';
  src: url("/assets/fonts/ubuntu-font-family/Ubuntu-R.ttf");
}

// ---------- state of window ---------- //
.reduced_w
{
  display: none !important;
}

.minimized_w
{
  width: 609px;

  border-radius: 8px 8px 0px 0px;

  box-shadow: 0px 0px 15px -10px black;

  .top_bar
  {
    border-radius: 6px 6px 0px 0px;
  }
}

.maximized_w
{
  width: calc(100vw - 74px) !important;
  height: calc(100vh - 29px) !important;

  box-shadow: none !important;

  .content_container
  {
    height: 100% !important;
  }
}

.focused_w
{
  box-shadow: 0px 0px 15px -2px black;

  z-index: 50;
  
  .top_bar
  {
    background-color: rgba(44,44,44,255);
    color: white;

    .tools
    {
      .single
      {
        background-color: rgba(72,72,72,255);
      }
      .single:hover
      {
        background-color: rgba(78,78,78,255);
      }

      svg
      {
        fill: white;
      }
    }

    .buttons
    {
      .reduce, .maximize
      {
        fill: white !important;
      }
    
      .close
      {
        background-color: rgba(223,74,22,255) !important;
      }
    
      .close:hover
      {
        background-color: rgba(233,88,37,255) !important;
      }
    }
  }

  .content
  {
    .left_panel
    {
      background-color: rgba(62,62,62,255) !important;
      color: white;
    }

    .central_panel
    {
      background-color: rgba(52,52,52,255) !important;
    }
  }
}

.moving_w
{
    cursor: grabbing;
}
// ---------- --------------- ---------- //

body
{
  margin: 0;

  color: whitesmoke;
  font-family: 'Ubuntu';

  background: linear-gradient(45deg, #DD4814, #77216F, #5E2750);

  overflow: hidden;

  cursor: default;

  .tools
  {
    display: flex;
    align-items: center;

    .single
    {
      width: 34px;
      height: 32px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: rgba(62,62,62,255);
      border: 1px solid rgba(37,37,37,255);
      border-radius: 4px;

      fill: grey;
    }

    .couple
    {
      display: flex;

      .left
      {
          border-radius: 4px 0px 0px 4px;
      }
      .right
      {
          border-top: 1px solid rgba(37,37,37,255);
          border-right: 1px solid rgba(37,37,37,255);
          border-bottom: 1px solid rgba(37,37,37,255);
          border-left: none;

          border-radius: 0px 4px 4px 0px;
      }
    }

    .triple
    {
      
    }

    .center
    {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    .inactive
    {
      background-color: rgba(58,58,58,255) !important;
    }
  }
}

// ---------- state of shortcut ---------- //

.focused_s
{
  border-radius: 5%;
  background-color: rgba(255,255,255,10%);
}