<div class="intro">
    <p>
        • Projet open source à but non lucratif et non affilié aux créateurs et contributeurs d'Ubuntu v20.04.
        <br> 
        <br>
        • Ce site n'a pas vocation à remplacer le système d'exploitation original.
        <br>
        <br>
        • Certaines différences ont été implantées volontairement. J'apporterai des modifications tout au long de la vie du projet.
    </p>

    <div class="intro_title">Technologies utilisées ?</div>
    <p>Framework ANGULAR (HTML, SCSS, TYPESCRIPT)</p>
    
    <div class="intro_title">Où me retrouver ?</div>
    <p><a href="https://github.com/WarrenVermelle/" target="_blank">Github</a></p>
</div>